@model Library.Model.Books

@{
    ViewBag.Title = "افزودن کتاب جدید";
}

            
            <form method="post" class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label" for="Title">عنوان کتاب</label>
                        <input type="text" name="Title" id="Title" class="form-control" placeholder="عنوان کتاب" />
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label" for="Author">نام نویسنده</label>
                        <input type="text" name="Author" id="Author" class="form-control" placeholder="نام نویسنده" />
                    </div>

                    <div class="form-group col-md-12">
                        <label class="control-label" for="Publisher">ناشر</label>
                        <input type="text" name="Publisher" id="Publisher" class="form-control" placeholder="ناشر" />
                    </div>
                    
                </div>
                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-save"></span>
                        ثبت
                    </button>
                </div>
            </form>

