
@{
    ViewBag.Title = "مدیریت";
}
@if (TempData["Message"] != null)
            {
    <div id="Message" class="col-md-12">
        <div class="alert alert-success text-center">
            <h2>@TempData["Message"]</h2>
        </div>
    </div>
}

<h2>صفحه مدیریت کتابخانه</h2>


